/* Base styles */
.root {
  -fx-font-family: sans-serif;
}


.input-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Input fields and buttons */
.text-input {
  -fx-background-color: #4e5d7a;
  -fx-border: none;
  -fx-text-fill: #dfe1e5;
  -fx-padding: 5px;
  -fx-border-radius: 5px;
}

.button {
  -fx-background-color: #0d6efd;
  -fx-text-fill: #FFFFFF;
  -fx-border: none;
  -fx-padding: 5px 10px;
  -fx-border-radius: 5px;
  -fx-cursor: pointer;
  -fx-transition: background-color 0.2s ease-in-out;
}

.button:hover {
  -fx-background-color: #0a58ca;
}

/* ChoiceBox */
.choice-box {
  -fx-background-color: #4e5d7a;
  -fx-text-fill: #FFFFFF;
  -fx-border: none;
  -fx-border-radius: 5px;
  -fx-padding: 0px 10px;
}

/* Other elements (adjust as needed) */
.pane {
  /* -fx-background-color: #000000; */
  -fx-border-radius: 15px;
  -fx-border-styke: solid;
  -fx-border-width: 1px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 5, 5);
  -fx-padding: 10px;
}
